certifi==2019.11.28
Click==7.0
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
joblib==0.14.0
threadpoolctl
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy
matplotlib==2.1.1
pandas
cloudpickle>=0.6.0
sklearn
regex
nltk
tqdm
beautifulsoup4
textblob
lightgbm
xgboost
catboost
