flask
gunicorn==19.9.0
joblib==0.14.0
numpy
matplotlib
pandas
cloudpickle>=0.6.0
scikit-learn==0.24.2
regex
nltk
tqdm
beautifulsoup4
textblob
lightgbm==3.2.1
xgboost==1.2.1
catboost==0.25.1
